flask==3.0.0
requests==2.31.0
prometheus_client
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp-proto-grpc
azure-monitor-opentelemetry-exporter==1.0.0b21